export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export AWS_DEFAULT_REGION=Local
ENDPOINTURL=http://hybrid.qstack.

TEMPLATE_PROXY=qmi-
TEMPLATE_APPSERVER=qmi-
TEMPLATE_MQ=qmi-
TEMPLATE_DB=qmi-
